<% if logged_in? %>
<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  Content:
  <input type="text" name="tweet[content]" id="content" value="<%= @tweet.content %>"><br>
  Create Your Tweet:
  <input type="submit" name="submit" id="submit">

</form>


<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="button" name="delete" value="Delete Tweet" id="Delete Tweet">
</form>

<% else %>
  <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>
