
<p>
  <%= @tweet.content %>
</p>

<% if logged_in? %>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Tweet" value="Delete Tweet" id="Delete Tweet">
</form>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<% end %>
